@charset "UTF-8";

@font-face {
  font-family: "uovision";
  src:url("../assets/font/fonts/uovision.eot");
  src:url("../assets/font/fonts/uovision.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/fonts/uovision.woff") format("woff"),
    url("../assets/font/fonts/uovision.ttf") format("truetype"),
    url("../assets/font/fonts/uovision.svg#uovision") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "uovision" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "uovision" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appio:before {
  content: "\e000";
}
.icon-cart:before {
  content: "\e001";
}
.icon-error:before {
  content: "\e002";
}
.icon-mail:before {
  content: "\e003";
}
.icon-ok:before {
  content: "\e004";
}
.icon-pdf:before {
  content: "\e005";
}
.icon-phone:before {
  content: "\e006";
}
.icon-drop:before {
  content: "\e007";
}
.icon-menu:before {
  content: "\e008";
}


